<header>
  <div>
    <h1>Messages Service Page</h1>
  </div>
  <div class="homeDiv">
    <button mat-raised-button  routerLink="/home" type="button">
      <mat-icon class="example-tab-icon">home</mat-icon>
    </button>
  </div>
</header>
<!-- <app-inbox></app-inbox> -->
<body>
  <router-outlet></router-outlet>
</body>
<!-- <app-side-bar>
</app-side-bar> -->
<!-- <a routerLink="/singUp" >Home</a> -->
<!-- <app-top-tab></app-top-tab> -->
<!-- <div> -->
<!-- <app-log-in></app-log-in> -->
<!-- <app-sing-up></app-sing-up> -->
<!-- </div> -->
